<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Authentification</div>
	        <div class="text-xxl px-8 py-8">
            <p class="mt-2 text-slate-500">Login :</p>
		    <input type="text" 
                class="border-2 rounded-md m-2 pl-1"
			    ngModel
			    id="username"  
			    name="username" 
			    placeholder="Nom d'utilisateur">
		    <br>
		    <br>
            <p class="mt-2 text-slate-500">Mot de passe :</p>
            <input type="password"
                class="border-2 rounded-md m-2 pl-1"
			    ngModel
			    id="password"  
			    name="password" 
			    placeholder="Mot de passe">
		    <br>
		    <br>
		    <button mat-raised-button class="m-2" type=Submit >Se connecter</button>
          </div>
        </div>
      </div>
	</div>
</form>

          